/* login.css */

html {
    /* 스크롤바가 있든 없든 항상 공간을 확보하여 중앙을 고정함 */
    overflow-y: scroll; 
}

* {
    box-sizing: border-box;
    font-family: 'SpokaHanSansNeo';
}

.logo {
    width: 238px;
    height: 74px;
    display: block;
    margin: 85px auto 70px;
}

.login-box {
    width: 550px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    margin-top: -1px;
    font-weight: 500;
}

.tab {
    flex: 1;
    padding: 20px;
    cursor: pointer;
    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    font-size: 18px;
    text-align: center;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.tab:first-child {
    border-right: none;
}

.tab:last-child {
    border-top-right-radius: 10px;
}

.tab.active {
    background: var(--color-white);
    z-index: 2;
    border-bottom: 1px solid var(--color-white);
}

.tap:not(.active) {
    border-bottom: 1px solid var(--color-gray-300);
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-white);
}

.form {
    border: 1px solid var(--color-gray-300);
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 35px 30px 35px;
    display: none;
    font-size: 16px;
    background: var(--color-white);
    position: relative;
    z-index: 2;
}

.form.active {
    display: block;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-gray-300);
    padding: 12px 4px;
    margin-bottom: 18px;
    font-size: 14px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 14px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 36px;
}

.links {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.error-msg {
    color: var(--color-point);
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
    text-align: left;
    margin-top: 8px;
    margin-bottom: -10px;
}