/* products.css */


@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}




:root {
    /* Colors */
    --color-primary: #E3C1A4;
    --color-secondary: #3E3F3C;
    --color-point: #EB5757;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark: #333333;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #E0E0E0;
    --color-gray-300: #C4C4C4;
    --color-gray-400: #767676; 
}



body {
    font-family: 'SpokaHanSansNeo', sans-serif;
    font-weight: normal;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}


.product-media {
    background-color: var(--color-gray-100);
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.product-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오른쪽 상품 정보 섹션 */
.product-info {
    display: flex;
    flex-direction: column;
}

.kicker {
    font-size: 18px;
    color: var(--color-gray-400);
    margin-bottom: 18px;
    font-weight: 300;
}

.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.price {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.price::after {
    content: "원";
    font-size: 18px;
    margin-left: 2px;
    font-weight: 300;
}

.row {
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 100px;
}

.rowalt {
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.label { color: var(--color-gray-400); }
.value { margin-left: 5px; color: var(--color-gray-400); }


.counter-section {
    border-top: 2px solid var(--color-gray-200);
    border-bottom: 2px solid var(--color-gray-200);
    padding: 25px 0;
}

.counter {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-gray-200);
    width: fit-content;
    border-radius: 4px;
}

.counter button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.counter input {
    width: 40px;
    text-align: center;
    border: none;
    border-left: 1px solid var(--color-gray-200);
    border-right: 1px solid var(--color-gray-200);
    font-size: 16px;
    outline: none;
}


.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    border-left: 1px solid var(--color-gray-200);
    border-right: 1px solid var(--color-gray-200);
    font-size: 16px;
    outline: none;
    
    color: var(--color-dark); 
    background-color: var(--color-white); 
    font-weight: 500;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* 총 금액 섹션 */
.summary {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 15px;
}

.total {
    font-weight: bold;
    margin-right: auto;
}

.summary .value { color: var(--color-gray-400); font-size: 13px; }
.money {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 700;
}

.money::after {
    content: "원";
    font-size: 18px;
    margin-left: 2px;
    font-weight: 300;
}

.total-count {
    font-size: 13px;
    color: var(--color-primary);
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-buy {
    flex: 2;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    padding: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cart {
    flex: 1;
    background-color: var(--color-gray-400);
    color: var(--color-white);
    border: none;
    padding: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* 하단 탭 메뉴 */
.product-tabs {
    grid-column: span 2;
    border-bottom: 6px solid var(--color-gray-200);
    margin-top: 140px;
}

.tab-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.tab-list li {
    flex: 1;
}

.tab-item {
    width: 100%;
    padding: 15px 0;
    background: none;
    border: none;
    font-size: 15px;
    color: #C4C4C4;
    cursor: pointer;
    text-align: center;
}

.tab-item.active {
    color: var(--color-primary);
    font-weight: 700;
    border-bottom: none;
    position: relative;
}

.tab-item.active::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--color-primary);
}


.tab-content {
    grid-column: span 2;
    padding: 50px 0;
    text-align: center;
    color: var(--color-gray-200);
}