<header class="header">
  <div class="header-inner">
    <h1 class="logo">
      <span class="text-ir">호두 마켓 바로가기</span>
      <a href="../index.html">
        <img src="../assets/images/logo.svg" alt="HODU 로고">
      </a>
    </h1>

    <form class="input-box" action="#" method="get">
      <label for="fieldInput" class="text-ir">상품 검색</label>
      <input
        id="fieldInput"
        class="input"
        type="text"
        name="q"
        placeholder="상품을 검색해보세요!"
        required
      >
      <img class="search-icon" src="../assets/images/search.svg" alt="">
    </form>

    <nav class="nav" aria-label="메인메뉴">
      <ul class="nav-list" id="headerNav"></ul>
    </nav>
  </div>
</header>