<!-- Header -->
<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/">
        <img src="./assets/images/logo.png" alt="호두마켓" />
      </a>
    </h1>

    <form class="header__search">
      <input type="search" placeholder="상품을 검색해보세요!" />
      <button type="submit">검색</button>
    </form>

    <nav class="header__nav">
      <a href="#" class="header__nav-item header__nav-item--cart">
        <span>장바구니</span>
      </a>
      <a href="#" class="header__nav-item header__nav-item--mypage">
        <span>마이페이지</span>
      </a>
    </nav>
  </div>
</header>
