<header class="header">
  <div class="header-inner">
    <h1 class="logo">
      <span class="text-ir">호두 마켓 바로가기</span>
      <a href="../index.html">
        <img src="../assets/images/logo.svg" alt="HODU 로고">
      </a>
    </h1>

    <form class="input-box" action="#" method="get">
      <label for="fieldInput" class="text-ir">상품 검색</label>
      <input
        id="fieldInput"
        class="input"
        type="text"
        name="q"
        placeholder="상품을 검색해보세요!"
        required
      />
      <img class="search-icon" src="../assets/images/search.svg" alt="" />
    </form>

    <nav class="nav" aria-label="메인메뉴">
      <ul class="nav-list">
        <li class="header-cart">
          <a href="../cart/shopcart.html" class="header-cart-link">
            <img
              class="shopping-icon"
              src="../assets/images/icons/icon-shopping-cart.svg"
              alt=""
            />
            <span>장바구니</span>
          </a>
        </li>

        <li class="mypage">
          <button
            type="button"
            class="mypage-btn"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              class="user-icon"
              src="../assets/images/icons/icon-user.svg"
              alt=""
            />
            <span>마이페이지</span>
          </button>

          <div class="dropdown" role="menu" aria-label="마이페이지 메뉴">
            <button
              type="button"
              class="dropdown-item"
              data-action="ui-only"
            >
              마이페이지
            </button>
            <button
              type="button"
              class="dropdown-item"
              data-action="logout"
            >
              로그아웃
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
